<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.davidgoemans.simpleClockWidget" android:versionCode="22" android:versionName="2.5">
	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity
            android:name=".SettingsList"
            android:label="@string/settings_app"
            android:theme="@android:style/Theme.Dialog" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity
            android:name=".ThemeChooser"
            android:label="@string/theme_chooser_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
		<activity
            android:name=".LauncherChooser"
            android:label="@string/launcher_chooser_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
        <activity
            android:name=".Launcher"
            android:label="@string/launcher_title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
        <activity
            android:name=".DateFormatChooser"
            android:label="@string/date_format_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
        <activity
            android:name=".TextSettings"
            android:label="@string/text_settings_name">
        </activity>
                
		<receiver android:name=".SimpleClockWidget" android:label="@string/widget_name_twenty_four">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_clock" />
		</receiver>

		<receiver android:name=".SimpleClockWidgetTwelve" android:label="@string/widget_name_twelve">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_clock" />
		</receiver>
		
		<service android:name=".SimpleClockUpdateService" />
		<service android:name=".SimpleClockUpdateServiceTwelve" />

	</application>
	<uses-sdk android:minSdkVersion="3" />
    
    <supports-screens
          android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"
          android:anyDensity="true" />
</manifest>